.banner-container{
    width: 96vw;
    margin-left: 2vw;
    height: 50vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}
.banner-button-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center ;
}
.banner-button-container button{
    margin-left: 0;
    width: 12vw;
    min-width: 100px;
    aspect-ratio: 7/1;
}
.banner-text-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end ;
    align-items: center ;
}
.banner-text{
    font-size: 2em;
}
@media only screen and (max-width: 800px){
    .banner-button-container button{
        width: 45vw;
    }
    
    .banner-text{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 1400px) {
    .banner-button-container button{
        width: 20vw;
        aspect-ratio: 7/1;
        min-width: 0;
    }
    .banner-text{
        font-size: 2em;
    }
}

@media only screen and (max-width: 800px) {
    .banner-button-container button{
        width: 40vw;
        min-width: fit-content;
    }
    .banner-text{
        font-size: 1.5em;
    }
}

