.password-reset-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-reset-invalid-token-container{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/1;
}
.password-reset-invalid-token-message{
    font-size: 1.4em;
    font-weight: 500;
}
.password-reset-invalid-token-logo{
    width: 15vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.password-reset-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.password-reset-logo-container{
    height: 25vh;
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: center;
}
.password-reset-logo-container img{
    width: 75%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-top: 3vh;
}
.password-reset-title-container{
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: end;
}
.password-reset-title{
    font-size: 1.8em;
    text-align: start;
    font-weight: 700;
    margin: 0;
}
.password-reset-details-container{
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 20vw;
}
.password-reset-details-container input{
    width: 75%;
    aspect-ratio: 7/1;
    box-sizing: border-box;
    border-width: 0.05vh;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0.3vh;
    outline: none;
    border-radius: 0.2vw;
    border: double;
    border-color: rgb(63, 63, 63); 
}
.password-reset-details-container button{
    width: 75%;
    aspect-ratio: 7/1;
    border-radius: 0.2vw;
    padding: 0.3vh;
    border: none;
    background-image: linear-gradient(to right, rgb(0, 255, 238), rgb(0, 140, 255));
    font-weight: 700;
    transition: all 0.1s;
    margin-top: 2vh;
}
.password-reset-details-container button:hover{
    filter: brightness(103%);
    transform: scale(1.01);
    cursor: pointer;
}
.password-reset-details-container label{

    margin-top: 1.5vh;
    float: left;
    font-weight: 600;
    width: 75%;
    text-align: start;
    display: block;
}
.error{
    background-color: rgba(255, 77, 77, 0.6);
}
@media screen and (max-width: 800px){
    .password-reset-title-container{
        width: 80vw;
    }
    .password-reset-details-container{
        width: 80vw;
    }
    .password-reset-details-container input{
        width: 100%;
    }
    .password-reset-details-container button{
        width: 100%;
    }
    .password-reset-page-container{
        justify-content: start;
        margin-top: 20vh;
    }
    .password-reset-details-container input{
        border-radius: 2vw;
    }
    .password-reset-details-container button{
        border-radius: 2vw;
    }
}